In [1]:
pip install dash

Requirement already satisfied: dash in c:\users\jainam\anaconda3\lib\site-packages (2.7.0)
Requirement already satisfied: Flask>=1.0.4 in c:\users\jainam\anaconda3\lib\site-packages (from dash) (1.1.2)
Requirement already satisfied: dash-html-components==2.0.0 in c:\users\jainam\anaconda3\lib\site-packages (from dash) (2.0.0)
Requirement already satisfied: dash-core-components==2.0.0 in c:\users\jainam\anaconda3\lib\site-packages (from dash) (2.0.0)
Requirement already satisfied: plotly>=5.0.0 in c:\users\jainam\anaconda3\lib\site-packages (from dash) (5.11.0)
Requirement already satisfied: dash-table==5.0.0 in c:\users\jainam\anaconda3\lib\site-packages (from dash) (5.0.0)
Requirement already satisfied: Jinja2>=2.10.1 in c:\users\jainam\anaconda3\lib\site-packages (from Flask>=1.0.4->dash) (2.11.3)
Requirement already satisfied: Werkzeug>=0.15 in c:\users\jainam\anaconda3\lib\site-packages (from Flask>=1.0.4->dash) (2.0.2)
Requirement already satisfied: itsdangerous>=0.24 in c:\users\jainam\anaconda3\lib\site-packages (from Flask>=1.0.4->dash) (2.0.1)
Requirement already satisfied: click>=5.1 in c:\users\jainam\anaconda3\lib\site-packages (from Flask>=1.0.4->dash) (8.0.3)
Requirement already satisfied: tenacity>=6.2.0 in c:\users\jainam\anaconda3\lib\site-packages (from plotly>=5.0.0->dash) (8.1.0)
Requirement already satisfied: colorama in c:\users\jainam\anaconda3\lib\site-packages (from click>=5.1->Flask>=1.0.4->dash) (0.4.4)
Requirement already satisfied: MarkupSafe>=0.23 in c:\users\jainam\anaconda3\lib\site-packages (from Jinja2>=2.10.1->Flask>=1.0.4->dash) (2.0.1)
Note: you may need to restart the kernel to use updated packages.

In [2]:
pip install dash-bootstrap-components

Requirement already satisfied: dash-bootstrap-components in c:\users\jainam\anaconda3\lib\site-packages (1.2.1)Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: dash>=2.0.0 in c:\users\jainam\anaconda3\lib\site-packages (from dash-bootstrap-components) (2.7.0)
Requirement already satisfied: dash-html-components==2.0.0 in c:\users\jainam\anaconda3\lib\site-packages (from dash>=2.0.0->dash-bootstrap-components) (2.0.0)
Requirement already satisfied: plotly>=5.0.0 in c:\users\jainam\anaconda3\lib\site-packages (from dash>=2.0.0->dash-bootstrap-components) (5.11.0)
Requirement already satisfied: Flask>=1.0.4 in c:\users\jainam\anaconda3\lib\site-packages (from dash>=2.0.0->dash-bootstrap-components) (1.1.2)
Requirement already satisfied: dash-core-components==2.0.0 in c:\users\jainam\anaconda3\lib\site-packages (from dash>=2.0.0->dash-bootstrap-components) (2.0.0)
Requirement already satisfied: dash-table==5.0.0 in c:\users\jainam\anaconda3\lib\site-packages (from dash>=2.0.0->dash-bootstrap-components) (5.0.0)
Requirement already satisfied: itsdangerous>=0.24 in c:\users\jainam\anaconda3\lib\site-packages (from Flask>=1.0.4->dash>=2.0.0->dash-bootstrap-components) (2.0.1)
Requirement already satisfied: Werkzeug>=0.15 in c:\users\jainam\anaconda3\lib\site-packages (from Flask>=1.0.4->dash>=2.0.0->dash-bootstrap-components) (2.0.2)
Requirement already satisfied: click>=5.1 in c:\users\jainam\anaconda3\lib\site-packages (from Flask>=1.0.4->dash>=2.0.0->dash-bootstrap-components) (8.0.3)
Requirement already satisfied: Jinja2>=2.10.1 in c:\users\jainam\anaconda3\lib\site-packages (from Flask>=1.0.4->dash>=2.0.0->dash-bootstrap-components) (2.11.3)
Requirement already satisfied: tenacity>=6.2.0 in c:\users\jainam\anaconda3\lib\site-packages (from plotly>=5.0.0->dash>=2.0.0->dash-bootstrap-components) (8.1.0)
Requirement already satisfied: colorama in c:\users\jainam\anaconda3\lib\site-packages (from click>=5.1->Flask>=1.0.4->dash>=2.0.0->dash-bootstrap-components) (0.4.4)
Requirement already satisfied: MarkupSafe>=0.23 in c:\users\jainam\anaconda3\lib\site-packages (from Jinja2>=2.10.1->Flask>=1.0.4->dash>=2.0.0->dash-bootstrap-components) (2.0.1)

In [3]:
import dash
from dash import dcc
from dash import html
import plotly.express as px
import pandas as pd
import dash_bootstrap_components as dbc
from dash.dependencies import Input, Output

In [4]:
df= pd.read_excel("CombinedData.xlsx")
df

,Unnamed: 0,Position,Number of employees,Salary/month/employee,Salary/month,Salary/year/employee,Salary/year
0,0,Manager,1,27916.67,27916.67,335000,335000
1,1,Video editor,1,20000.00,20000.00,240000,240000
2,2,Video editor(Interns),5,1000.00,5000.00,12000,60000
3,3,Contingency team(Video Editing),3,1000.00,3000.00,12000,36000
4,4,Content designer,1,20833.33,20833.33,250000,250000
5,5,Content designer(Intern),5,1000.00,5000.00,12000,60000
6,6,Contingency team(Content Designing),8,1000.00,8000.00,12000,96000
7,7,Content writer,1,10000.00,10000.00,120000,120000
8,8,Content writer(Intern),5,1000.00,5000.00,12000,60000
9,9,Contingency team(Content writing),4,1000.00,4000.00,12000,48000
10,10,HR manager,1,25000.00,25000.00,300000,300000
11,11,Recruiter,3,9166.67,27500.00,110000,330000

In [5]:
df.drop('Unnamed: 0',inplace=True,axis=1)

In [6]:
df.head()

,Position,Number of employees,Salary/month/employee,Salary/month,Salary/year/employee,Salary/year
0,Manager,1,27916.67,27916.67,335000,335000
1,Video editor,1,20000.00,20000.00,240000,240000
2,Video editor(Interns),5,1000.00,5000.00,12000,60000
3,Contingency team(Video Editing),3,1000.00,3000.00,12000,36000
4,Content designer,1,20833.33,20833.33,250000,250000

In [7]:
app1=dash.Dash(__name__, external_stylesheets=[dbc.themes.BOOTSTRAP])

In [8]:
df.columns

Index(['Position', 'Number of employees', 'Salary/month/employee',
       'Salary/month', 'Salary/year/employee', 'Salary/year'],
      dtype='object')

In [9]:
colors = {
    'background': '#edc6f7',
    'text': 'black'
}
colors2 = {
        'background' : '#d7ffcd',
        'text': 'black'
    }

app1.layout = html.Div(style={'backgroundColor': colors['background']}, children=[
                html.H1(
                    children='Dash Application',
                    style={
                        'textAlign': 'center',
                        'color': colors['text'],
                        'font_size':50
                    }
                ),
                html.Br(),
                dbc.Row([
                    dbc.Col([
                        html.Div(style={'width':"60%",'backgroundColor': colors2['background'],"margin-left":"259px"}, children=[
                        html.P(
                            children='Expenditure For Positions in Creatives and HR Department',
                            style={
                    'textAlign': 'center',
                    'color': colors2['text'],
                    'font_size':20,
                    'backgroundColor': '#d7ffcd'
                }), 
                html.Br(),
                    html.Label(['Select Positions'],style={'font-weight': 'bold', "text-align": "center"}),
                dcc.Dropdown(id='my_dropdown',
                    options=[
                            {'label': 'Manager', 'value': 'Manager'},
                            {'label': 'Video editor', 'value': 'Video editor'},
                            {'label': 'Video editor(Interns)', 'value': 'Video editor(Interns)'},
                            {'label': 'Contingency team(Video Editing)	', 'value': 'Contingency team(Video Editing)	'},
                            {'label': 'Content designer', 'value': 'Content designer'},
                            {'label': 'Content designer(Intern)', 'value': 'Content designer(Intern)'},
                            {'label': 'Contingency team(Content Designing)', 'value': 'Contingency team(Content Designing)'},
                            {'label': 'Content writer', 'value': 'Content writer'},
                            {'label': 'Content writer(Intern)', 'value': 'Content writer(Intern)'},
                            {'label': 'Contingency team(Content writing)', 'value': 'Contingency team(Content writing)'},
                            {'label': 'HR manager', 'value': 'HR manager'},
                            {'label': 'Recruiter', 'value': 'Recruiter'}

                    ],
                    optionHeight=35,                    
                    value='Manager',                  
                    disabled=False,                    
                    multi=False,                       
                    searchable=True,                    
                    search_value='',                    
                    placeholder='Please select...',     
                    clearable=True,                     
                    style={'width':"100%"},             
                    ), 
                html.Br(),
                html.Label(['Enter the number of Employees'],style={'font-weight': 'bold', "text-align": "left"}), 
                dcc.Input(id='no_of_emp',type='number',placeholder='',style={'display':'inline-block'}),
                html.Br(), 
                html.Label(['Calculator :'],style={'font-weight': 'bold', "text-align": "center"}),
                html.Div(id='output_container', children=[])])],width=12),
                html.Br()
               
]) ])
@app1.callback(
Output(component_id='output_container', component_property='children'),
    [Input(component_id='my_dropdown',component_property='value'),
    Input(component_id='no_of_emp',component_property='value')])
def calculator(my_dropdown, no_of_emp):
  data = df.copy()
  data = data[data['Position']==my_dropdown]
  x1=data['Salary/month/employee']
  x2=data['Salary/year/employee'] 
  s_per_emp = x1
  s_emp = x1*no_of_emp
  s_per_year = x2
  s_year = x2*no_of_emp
  str1 = f'The Salary Per Month Per Employee is : {int(s_per_emp)},\nSalary Per Month is: {int(s_emp)},\nSalary Per Year Per Employee is: {int(s_per_year)},\nSalary Per Year is : {int(s_year)}'
#   str1 = f'''The Salary Per Month Per Employee is : {x1},
#             Salary Per Month is: {x2*no_of_emp},
#             Salary Per Year Per Employee is: {x3},
#             Salary Per Year is : {x4*no_of_emp}'''
  return str1
#   ,x2*no_of_emp,x3*no_of_emp,x4*no_of_emp

In [10]:
if __name__=="__main__":
    app1.run_server(port=8050)

Dash is running on http://127.0.0.1:8050/

 * Serving Flask app "__main__" (lazy loading)
 * Environment: production
   WARNING: This is a development server. Do not use it in a production deployment.
   Use a production WSGI server instead.
 * Debug mode: off

 * Running on http://127.0.0.1:8050/ (Press CTRL+C to quit)
127.0.0.1 - - [01/Dec/2022 15:17:56] "GET / HTTP/1.1" 200 -
127.0.0.1 - - [01/Dec/2022 15:17:56] "GET /_dash-dependencies HTTP/1.1" 200 -
127.0.0.1 - - [01/Dec/2022 15:17:56] "GET /_dash-layout HTTP/1.1" 200 -
127.0.0.1 - - [01/Dec/2022 15:17:56] "GET /_dash-component-suites/dash/dcc/async-dropdown.js HTTP/1.1" 304 -

Exception on /_dash-update-component [POST]
Traceback (most recent call last):
  File "c:\Users\JAINAM\anaconda3\lib\site-packages\flask\app.py", line 2447, in wsgi_app
    response = self.full_dispatch_request()
  File "c:\Users\JAINAM\anaconda3\lib\site-packages\flask\app.py", line 1952, in full_dispatch_request
    rv = self.handle_user_exception(e)
  File "c:\Users\JAINAM\anaconda3\lib\site-packages\flask\app.py", line 1821, in handle_user_exception
    reraise(exc_type, exc_value, tb)
  File "c:\Users\JAINAM\anaconda3\lib\site-packages\flask\_compat.py", line 39, in reraise
    raise value
  File "c:\Users\JAINAM\anaconda3\lib\site-packages\flask\app.py", line 1950, in full_dispatch_request
    rv = self.dispatch_request()
  File "c:\Users\JAINAM\anaconda3\lib\site-packages\flask\app.py", line 1936, in dispatch_request
    return self.view_functions[rule.endpoint](**req.view_args)
  File "c:\Users\JAINAM\anaconda3\lib\site-packages\dash\dash.py", line 1274, in dispatch
    ctx.run(
  File "c:\Users\JAINAM\anaconda3\lib\site-packages\dash\_callback.py", line 440, in add_context
    output_value = func(*func_args, **func_kwargs)  # %% callback invoked %%
  File "C:\Users\JAINAM\AppData\Local\Temp/ipykernel_6816/1018925184.py", line 84, in calculator
    s_emp = x1*no_of_emp
  File "c:\Users\JAINAM\anaconda3\lib\site-packages\pandas\core\ops\common.py", line 69, in new_method
    return method(self, other)
  File "c:\Users\JAINAM\anaconda3\lib\site-packages\pandas\core\arraylike.py", line 108, in __mul__
    return self._arith_method(other, operator.mul)
  File "c:\Users\JAINAM\anaconda3\lib\site-packages\pandas\core\series.py", line 5526, in _arith_method
    result = ops.arithmetic_op(lvalues, rvalues, op)
  File "c:\Users\JAINAM\anaconda3\lib\site-packages\pandas\core\ops\array_ops.py", line 224, in arithmetic_op
    res_values = _na_arithmetic_op(left, right, op)
  File "c:\Users\JAINAM\anaconda3\lib\site-packages\pandas\core\ops\array_ops.py", line 166, in _na_arithmetic_op
    result = func(left, right)
  File "c:\Users\JAINAM\anaconda3\lib\site-packages\pandas\core\computation\expressions.py", line 239, in evaluate
    return _evaluate(op, op_str, a, b)  # type: ignore[misc]
  File "c:\Users\JAINAM\anaconda3\lib\site-packages\pandas\core\computation\expressions.py", line 128, in _evaluate_numexpr
    result = _evaluate_standard(op, op_str, a, b)
  File "c:\Users\JAINAM\anaconda3\lib\site-packages\pandas\core\computation\expressions.py", line 69, in _evaluate_standard
    return op(a, b)
TypeError: unsupported operand type(s) for *: 'float' and 'NoneType'

127.0.0.1 - - [01/Dec/2022 15:17:56] "POST /_dash-update-component HTTP/1.1" 500 -
127.0.0.1 - - [01/Dec/2022 15:17:56] "GET /_favicon.ico?v=2.7.0 HTTP/1.1" 200 -
127.0.0.1 - - [01/Dec/2022 15:18:01] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [01/Dec/2022 15:18:11] "POST /_dash-update-component HTTP/1.1" 200 -

Exception on /_dash-update-component [POST]
Traceback (most recent call last):
  File "c:\Users\JAINAM\anaconda3\lib\site-packages\flask\app.py", line 2447, in wsgi_app
    response = self.full_dispatch_request()
  File "c:\Users\JAINAM\anaconda3\lib\site-packages\flask\app.py", line 1952, in full_dispatch_request
    rv = self.handle_user_exception(e)
  File "c:\Users\JAINAM\anaconda3\lib\site-packages\flask\app.py", line 1821, in handle_user_exception
    reraise(exc_type, exc_value, tb)
  File "c:\Users\JAINAM\anaconda3\lib\site-packages\flask\_compat.py", line 39, in reraise
    raise value
  File "c:\Users\JAINAM\anaconda3\lib\site-packages\flask\app.py", line 1950, in full_dispatch_request
    rv = self.dispatch_request()
  File "c:\Users\JAINAM\anaconda3\lib\site-packages\flask\app.py", line 1936, in dispatch_request
    return self.view_functions[rule.endpoint](**req.view_args)
  File "c:\Users\JAINAM\anaconda3\lib\site-packages\dash\dash.py", line 1274, in dispatch
    ctx.run(
  File "c:\Users\JAINAM\anaconda3\lib\site-packages\dash\_callback.py", line 440, in add_context
    output_value = func(*func_args, **func_kwargs)  # %% callback invoked %%
  File "C:\Users\JAINAM\AppData\Local\Temp/ipykernel_6816/1018925184.py", line 84, in calculator
    s_emp = x1*no_of_emp
  File "c:\Users\JAINAM\anaconda3\lib\site-packages\pandas\core\ops\common.py", line 69, in new_method
    return method(self, other)
  File "c:\Users\JAINAM\anaconda3\lib\site-packages\pandas\core\arraylike.py", line 108, in __mul__
    return self._arith_method(other, operator.mul)
  File "c:\Users\JAINAM\anaconda3\lib\site-packages\pandas\core\series.py", line 5526, in _arith_method
    result = ops.arithmetic_op(lvalues, rvalues, op)
  File "c:\Users\JAINAM\anaconda3\lib\site-packages\pandas\core\ops\array_ops.py", line 224, in arithmetic_op
    res_values = _na_arithmetic_op(left, right, op)
  File "c:\Users\JAINAM\anaconda3\lib\site-packages\pandas\core\ops\array_ops.py", line 166, in _na_arithmetic_op
    result = func(left, right)
  File "c:\Users\JAINAM\anaconda3\lib\site-packages\pandas\core\computation\expressions.py", line 239, in evaluate
    return _evaluate(op, op_str, a, b)  # type: ignore[misc]
  File "c:\Users\JAINAM\anaconda3\lib\site-packages\pandas\core\computation\expressions.py", line 128, in _evaluate_numexpr
    result = _evaluate_standard(op, op_str, a, b)
  File "c:\Users\JAINAM\anaconda3\lib\site-packages\pandas\core\computation\expressions.py", line 69, in _evaluate_standard
    return op(a, b)
TypeError: unsupported operand type(s) for *: 'float' and 'NoneType'

127.0.0.1 - - [01/Dec/2022 15:18:13] "POST /_dash-update-component HTTP/1.1" 500 -
127.0.0.1 - - [01/Dec/2022 15:18:14] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [01/Dec/2022 15:18:14] "POST /_dash-update-component HTTP/1.1" 200 -